/__history/*
/AdventOfCode2019.res
/AdventOfCode2019.identcache
/AdventOfCode2019.dproj.local
/uAOCUtils.pas.cbk
/AdventOfCode2019.stat
/AdventOfCode2019.Ini
/Win32/*
/__vs/*
/__recovery/*

/AdventOfCode2018.text
/.vs/AOC2020/v16/TestStore/0
/.vs
*.stat
*.identcache
/AdventOfCode2020.res
*.local
/Main.pas.cbk
